<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="supported-color-schemes" content="light dark">
  <link rel="stylesheet" href="/styles.css" />
  <script
    src="https://cloud.umami.is/script.js"
    data-website-id="be2af2e0-a59f-46b7-972c-c69ca2084f36"
    defer
  ></script>
  <title>dangre.co | {{ title }}</title>
  {{ set desc = description || site.description }}
  <meta name="description" content="{{ desc }}" />
  <link rel="canonical" href="{{ url |> url(true) }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ desc }}" />
  <meta property="og:url" content="{{ url |> url(true) }}" />
  <meta property="og:type" content="{{ image ? 'article' : 'website' }}" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ desc }}" />
  {{ if image }}
    <meta property="og:image" content="{{ image |> url(true) }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ image |> url(true) }}" />
  {{ else }}
    <meta name="twitter:card" content="summary" />
  {{ /if }}
  <script>
    function setTheme() {
    const userPrefersDark = window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches;
    const theme = userPrefersDark ? "dark" : "light";

    document.body && document.body.setAttribute("data-color", theme);
  }

  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", setTheme);
  } else {
    setTheme();
  }

  window.matchMedia("(prefers-color-scheme: dark)").addEventListener(
    "change",
    setTheme,
  );
  </script>
</head>
