<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="supported-color-schemes" content="light dark">
  <link rel="stylesheet" href="/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap"
  >
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.css"
  >
  <script
    src="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.js"
    async
  ></script>
  <title>dangre.co | {{ title }}</title>
  {{ if image }}
    <meta property="og:image" content="{{ image |> url(true) }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ image |> url(true) }}" />
    <meta name="twitter:title" content="{{ title }}" />
  {{ /if }}
  <script>
    function setTheme() {
    const userPrefersDark = window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches;
    const theme = userPrefersDark ? "dark" : "light";

    document.body && document.body.setAttribute("data-color", theme);
  }

  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", setTheme);
  } else {
    setTheme();
  }

  window.matchMedia("(prefers-color-scheme: dark)").addEventListener(
    "change",
    setTheme,
  );
  </script>
</head>
