<footer class="text-center text-sm text-neutral-500 mt-4">
  <p>
    © <span id="year"></span> Dan Greco • <a
      class="underline"
      href="https://github.com/dangreco/web/blob/main/LICENSE"
    >GPL-3.0</a>
  </p>
  <script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>
</footer>
