@import "tailwindcss";
@plugin "@tailwindcss/typography";

code {
  counter-reset: step;
  counter-increment: step calc(var(--start, 1) - 1);
}

/* Line numbers by default */
code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

code .line:last-child:empty::before {
  content: none;
  counter-increment: none;
}

code[data-line-numbers="false"] .line::before {
  content: none;
  counter-increment: none;
  width: 0;
  margin-right: 0;
}
